<ul role="menu" class="product-categoris hidden" aria-label="product categoris">
  <include src="header/product-categoris/phone/index.html"></include>
  <include src="header/product-categoris/digital-products/index.html"></include>
  <include src="header/product-categoris/cars-and-tools/index.html"></include>
  <include src="header/product-categoris/fashion/index.html"></include>
  <include
    src="header/product-categoris/supermarket-products/index.html"
  ></include>
  <include src="header/product-categoris/kids-and-toy/index.html"></include>
  <include src="header/product-categoris/native-products/index.html"></include>
  <include
    src="header/product-categoris/beauty-and-health/index.html"
  ></include>
  <include src="header/product-categoris/home-and-kitchen/index.html"></include>
  <include
    src="header/product-categoris/stationery-and-art/index.html"
  ></include>
  <include
    src="header/product-categoris/sports-and-travel/index.html"
  ></include>
</ul>
