<section class="sugesstions" aria-label="sugesstions">
  <h2>پیشنهاد دیجی‌کالا</h2>
  <div class="swiper-container">
    <include src="utils/slide-next-control.html">{"class": "translateY-middle"}</include>
    <div class="swiper">
      <div class="swiper-wrapper">
        <include src='utils/generator.html'>
          {
            "use": "utils/suggestion.html",
            "items": [
              {
                "text1": "گوشی موبایل",
                "src1": "/media/images/suggestions/phone.jpg",
                "text2": "کیف و کاور گوشی",
                "src2": "/media/images/suggestions/phone-cover.jpg"
              },
              {
                "text1": " هدفون، هدست و...",
                "src1": "/media/images/suggestions/headphone.jpg",
                "text2": "ساعت هوشمند",
                "src2": "/media/images/suggestions/smart-watch.jpg"
              },
              {
                "text1": "لپ تاپ و الترابوک",
                "src1": "/media/images/suggestions/laptop.jpg",
                "text2": "تبلت",
                "src2": "/media/images/suggestions/tablet.jpg"
              },
              {
                "text1": "ماوس (موشواره)",
                "src1": "/media/images/suggestions/mouse.jpg",
                "text2": "جوراب زنانه",
                "src2": "/media/images/suggestions/socks.jpg"
              },
              {
                "text1": "جوراب مردانه",
                "src1": "/media/images/suggestions/socks.jpg",
                "text2": "کنسول خانگی",
                "src2": "/media/images/suggestions/ps5.jpg"
              },
              {
                "text1": "تخت خواب",
                "src1": "/media/images/suggestions/bed.jpg",
                "text2": "کاپشن مردانه",
                "src2": "/media/images/suggestions/jaket.jpg"
              },
              {
                "text1": "آشنایی با فنون",
                "src1": "/media/images/suggestions/toy.jpg",
                "text2": "اسپیکر (بلندگو)",
                "src2": "/media/images/suggestions/spicker.jpg"
              }
            ]
          }
        </include>
      </div>
    </div>
     <include src="utils/slide-prev-control.html">{"class": "translateY-middle"}</include>
  </div>
</section>

