<div class="arms">
  <div class="right-col">
    <h4>فروشگاه اینترنتی دیجی‌کالا، بررسی، انتخاب و خرید آنلاین</h4>
    <p>
      یک خرید اینترنتی مطمئن، نیازمند فروشگاهی است که بتواند کالاهایی متنوع،
      باکیفیت و دارای قیمت مناسب را در مدت زمانی کوتاه به دست مشتریان خود برساند
      و ضمانت بازگشت کالا هم داشته باشد؛ ویژگی‌هایی که فروشگاه اینترنتی
      دیجی‌کالا سال‌هاست بر روی آن‌ها کار کرده و توانسته از این طریق مشتریان
      ثابت خود را داشته باشد.
    </p>
    <a class="more align-center" href="#">
      مشاهده بیشتر
      <include src="icons/chevron-left.html"></include>
    </a>
  </div>
  <div class="left-col">
    <ul>
      <li>
        <a href="#" class="d-flex">
          <img src="/media/images/arms/samandehi.png" alt="نشان ملی ثبت" />
        </a>
      </li>
      <li>
        <a href="#" class="d-flex">
          <img
            src="/media/images/arms/ecunion.png"
            alt="نماد کسب و کار های مجازی"
          />
        </a>
      </li>
      <li>
        <a href="#" class="d-flex">
          <img
            src="/media/images/arms/enamad.png"
            alt="نماد اعتماد الکترونیک"
          />
        </a>
      </li>
    </ul>
  </div>
</div>
