<section class="product-promotion" aria-label="product promotion">
  <include src='utils/generator.html'>
    {
      "use": "utils/product-promotion-card.html",
      "items": [
        {
          "title": "گوشی موبایل",
          "subtitle": "بر اساس بازدیدهای شما",
          "src1": "/media/images/product-promotion/phone1.webp",
          "fallback1": "/media/images/product-promotion/phone1.jpg",
          "alt1": "گوشی موبایل اپل مدل iPhone 13 CH دو سیم‌ کارت ظرفیت 128 گیگابایت و رم 4 گیگابایت",
          "src2": "/media/images/product-promotion/phone2.webp",
          "fallback2": "/media/images/product-promotion/phone2.jpg",
          "alt2": "گوشی موبایل سامسونگ مدل Galaxy S21 FE 5G دو سیم‌ کارت ظرفیت 256 گیگابایت و رم 8 گیگابایت",
          "src3": "/media/images/product-promotion/phone3.webp",
          "fallback3": "/media/images/product-promotion/phone3.jpg",
          "alt3": "گوشی موبایل اپل مدل iPhone 11 تک سیم‌ کارت ظرفیت 128 گیگابایت و رم 4 گیگابایت - هند",
          "src4": "/media/images/product-promotion/phone4.webp",
          "fallback4": "/media/images/product-promotion/phone4.jpg",
          "alt4": "گوشی موبایل سامسونگ مدل Galaxy A32 SM-A325F/DS دو سیم‌کارت ظرفیت 128 گیگابایت و رم 6 گیگابایت"
        },
        {
          "title": "کیف و کاور گوشی",
          "subtitle": "بر اساس بازدیدهای شما",
          "src1": "/media/images/product-promotion/cover1.webp",
          "fallback1": "/media/images/product-promotion/cover1.jpg",
          "alt1": "کاور ونزو مدل Prime مناسب برای گوشی موبایل شیائومی Poco X3 NFC / Poco X3 Pro",
          "src2": "/media/images/product-promotion/cover2.webp",
          "fallback2": "/media/images/product-promotion/cover2.jpg",
          "alt2": "کاور ونزو مدل Prime مناسب برای گوشی موبایل شیائومی Redmi Note 11 Pro 4G / Note 11 Pro 5G",
          "src3": "/media/images/product-promotion/cover3.webp",
          "fallback3": "/media/images/product-promotion/cover3.jpg",
          "alt3": "کاور ونزو مدل Dexter مناسب برای گوشی موبایل سامسونگ Galaxy A33 5G",
          "src4": "/media/images/product-promotion/cover4.webp",
          "fallback4": "/media/images/product-promotion/cover4.jpg",
          "alt4": "کاور ونزو مدل Prime مناسب برای گوشی موبایل شیائومی Redmi Note 11 / 11S"
        },
        {
          "title": "هدفون، هدست و هندزفری",
          "subtitle": "بر اساس بازدیدهای شما",
          "src1": "/media/images/product-promotion/headphone1.webp",
          "fallback1": "/media/images/product-promotion/headphone1.jpg",
          "alt1": "هندزفری بلوتوثی مدل  inpods 12",
          "src2": "/media/images/product-promotion/headphone2.webp",
          "fallback2": "/media/images/product-promotion/headphone2.jpg",
          "alt2": "هدفون بلوتوثی سامسونگ مدل Galaxy Buds2 Pro",
          "src3": "/media/images/product-promotion/headphone3.webp",
          "fallback3": "/media/images/product-promotion/headphone3.jpg",
          "alt3": "هدفون بی سیم مدل BTH-F9-5",
          "src4": "/media/images/product-promotion/headphone4.webp",
          "fallback4": "/media/images/product-promotion/headphone4.jpg",
          "alt4": "هدفون بلوتوثی کیو سی وای مدل T13 TWS"
        },
        {
          "title": "ساعت هوشمند",
          "subtitle": "بر اساس بازدیدهای شما",
          "src1": "/media/images/product-promotion/smart-watch1.webp",
          "fallback1": "/media/images/product-promotion/smart-watch1.jpg",
          "alt1": "ساعت هوشمند مدل T500-Smart watch",
          "src2": "/media/images/product-promotion/smart-watch2.webp",
          "fallback2": "/media/images/product-promotion/smart-watch2.jpg",
          "alt2": "ساعت هوشمند اپل واچ مدل Ultra 49 mm Alpine Loop",
          "src3": "/media/images/product-promotion/smart-watch3.webp",
          "fallback3": "/media/images/product-promotion/smart-watch3.jpg",
          "alt3": "ساعت هوشمند سامسونگ مدل Galaxy Watch4 44mm بند سیلیکونی",
          "src4": "/media/images/product-promotion/smart-watch4.webp",
          "fallback4": "/media/images/product-promotion/smart-watch4.jpg",
          "alt4": "ساعت هوشمند شیائومی مدل Redmi Watch 2 Lite بند سلیکونی"
        }
      ]
    }
  </include>
</section>