<div class="middle-section align-center">
  <a class="logo d-flex pc-only" href="#">
    <img src="/media/images/en-logo.png" alt="فروشگاه اینترنتی دیجیکالا" />
  </a>
  <div class="dialog-container">
    <button class="search-cta align-center medium-radius">
      <include src="icons/search.html"></include>
      جستجو
    </button>
    <include src="header/search-dialog/index.html"></include>
  </div>
  <nav class="secondary-nav">
    <ul role="menu" class="align-center">
      <li role="none">
        <a href="#" role="menuitem" class="login align-center">
          <include src="icons/login.html"></include>
          ورود <span class="pc-only">&ensp;| ثبت‌نام</span>
        </a>
      </li>
      <li role="none" class="v-line pc-only"></li>
      <li role="none">
        <a href="#" role="menuitem" class="shopping-bag d-flex">
          <include src="icons/shopping-bag.html"></include>
        </a>
      </li>
    </ul>
  </nav>
</div>
