<div class="site-wide-links">
  <div>
    <h3>با دیجی‌کالا</h3>
    <ul>
      <li><a href="#">اتاق خبر دیجی‌کالا</a></li>
      <li><a href="#">فروش در دیجی‌کالا</a></li>
      <li><a href="#">فرصت‌های شغلی</a></li>
      <li><a href="#">گزارش تخلف در دیجی‌کالا</a></li>
      <li><a href="#">تماس با دیجی‌کالا</a></li>
      <li><a href="#">درباره دیجی‌کالا</a></li>
    </ul>
  </div>
  <div>
    <h3>خدمات مشتریان</h3>
    <li><a href="#">پاسخ به پرسش‌های متداول</a></li>
    <li><a href="#">رویه‌های بازگرداندن کالا</a></li>
    <li><a href="#">شرایط استفاده</a></li>
    <li><a href="#">حریم خصوصی</a></li>
    <li><a href="#">گزارش باگ</a></li>
  </div>
  <div>
    <h3>راهنمای خرید از دیجی‌کالا</h3>
    <li><a href="#">نحوه ثبت سفارش</a></li>
    <li><a href="#">رویه ارسال سفارش</a></li>
    <li><a href="#">شیوه‌های پرداخت</a></li>
  </div>
</div>
