<div class="digikala-app medium-radius">
  <div class="align-center">
    <img
      class="icon"
      src="/media/images/digikala-icon.png"
      alt="آیکون دیجی‌کالا"
    />
    <h2>دانلود اپلیکیشن دیجی‌کالا</h2>
  </div>
  <ul>
    <li>
      <a href="#" class="d-flex">
        <img
          src="/media/images/distribution-platforms/google-play.svg"
          alt="گوگل پلی"
        />
      </a>
    </li>
    <li>
      <a href="#" class="d-flex">
        <img
          src="/media/images/distribution-platforms/coffe-bazzar.svg"
          alt="بازار"
        />
      </a>
    </li>
    <li>
      <a href="#" class="d-flex">
        <img src="/media/images/distribution-platforms/myket.svg" alt="مایکت" />
      </a>
    </li>
    <li>
      <a href="#" class="d-flex">
        <img src="/media/images/distribution-platforms/sib-app.svg" alt="سیب" />
      </a>
    </li>
    <li class="pc-only">
      <a href="#" class="more d-flex">
        <img src="/media/images/distribution-platforms/More.svg" alt="بیشتر" />
      </a>
    </li>
  </ul>
  <a href="#" class="more-info mobile-only align-center">
    اطلاعات بیشتر
    <include src="icons/chevron-left.html"></include>
  </a>
</div>
