@use "/src/mixin.scss" as *;

.supermarket-products-category {
  @include on-pc {
    width: 800px;

    > li:nth-child(3) {
      position: relative;

      ul {
        @include goToNextColumn;
        top: -395px;
      }
    }

    > li:nth-child(4) {
      margin-top: 91px;
    }

    > li:nth-child(5) {
      position: relative;

      ul {
        li:nth-child(n + 3) {
          @include goToNextColumn;
        }

        li:nth-child(3) {
          top: -365px;
        }

        li:nth-child(4) {
          top: -335px;
        }

        li:nth-child(5) {
          top: -305px;
        }
      }
    }

    > li:nth-child(6) {
      margin-top: 90px;
    }

    > li:nth-child(9) {
      margin-bottom: 20px;
    }
  }
}
