<section class="ads" aria-label="ads">
  <ul>
    <li>
      <include src='utils/image-link.html'>
        {
          "src": "/media/images/ads/fulica.webp",
          "fallback": "/media/images/ads/fulica.jpg",
          "alt": "فولیکا اوجینال مراقب هر تار موی شما - تخفیف تا ۲۵ درصد"
        }
      </include>
    </li>
    <li>
      <include src='utils/image-link.html'>
        {
          "src": "/media/images/ads/shoes.webp",
          "fallback": "/media/images/ads/shoes.jpg",
          "alt": "کفش، بوت و نیم بوت"
        }
      </include>
    </li>
    <li>
      <include src='utils/image-link.html'>
        {
          "src": "/media/images/ads/watch.webp",
          "fallback": "/media/images/ads/watch.jpg",
          "alt": "کاسیو، همراه همیشگی - ده درصد تخفیف"
        }
      </include>
    </li>
    <li>
      <include src='utils/image-link.html'>
        {
          "src": "/media/images/ads/skincare-products.webp",
          "fallback": "/media/images/ads/skincare-products.jpg",
          "alt": "محصولات مراقبت از پوست و مو - تا پنجاه درصد تخفیف"
        }
      </include>
    </li>
  </ul>
</section>
