<div class="site-links">
  <p>
    برای استفاده از مطالب دیجی‌کالا، داشتن «هدف غیرتجاری» و ذکر «منبع» کافیست.
    تمام حقوق اين وب‌سايت نیز برای شرکت نوآوران فن آوازه (فروشگاه آنلاین
    دیجی‌کالا) است.
  </p>
  <ul>
    <li>
      <a href="#" class="align-center">
        <img
          src="/media/images/sites/digimag.svg"
          alt="مجله اینترنتی دیجی‌کالا مگ"
        />
      </a>
    </li>
    <li>
      <a href="#" class="align-center">
        <img
          src="/media/images/sites/digipay.svg"
          alt="بهترین راهکارهای پرداخت آنلاین"
        />
      </a>
    </li>
    <li>
      <a href="#" class="align-center">
        <img
          src="/media/images/sites/digistyle.svg"
          alt="خرید آنلاین مد و لباس از فروشگاه اینترنتی دیجی‌استایل با همان تجربه از دیجی‌کالا"
        />
      </a>
    </li>
    <li>
      <a href="#" class="align-center">
        <img
          src="/media/images/sites/digiplus.svg"
          alt="خدمات ویژه دیجی‌کالا برای کاربران با اشتراک دیجی‌پلاس"
        />
      </a>
    </li>
    <li>
      <a href="#" class="align-center">
        <img
          src="/media/images/sites/digiclub.svg"
          alt="دیجی کلاب باشگاه مشتریان دیجیکالا"
        />
      </a>
    </li>
    <li>
      <a href="#" class="align-center">
        <img
          src="/media/images/sites/jet.svg"
          alt="خرید آنی سوپرمارکتی از فروشگاه های نزدیک"
        />
      </a>
    </li>
    <li>
      <a href="#" class="align-center">
        <img
          src="/media/images/sites/magnet.svg"
          alt="مگنت - پلتفرم بررسی و انتخاب کالا"
        />
      </a>
    </li>
    <li>
      <a href="#" class="align-center">
        <img
          src="/media/images/sites/digiMehr.svg"
          alt="دیجیکالا مهر - زنجیره مهربانی و لبخند"
        />
      </a>
    </li>
    <li>
      <a href="#" class="align-center">
        <img src="/media/images/sites/fidibo.svg" alt="دانلود کتاب الکترونیک" />
      </a>
    </li>
    <li>
      <a href="#" class="align-center">
        <img
          src="/media/images/sites/diginext.svg"
          alt="مرکز نوآوری و فناوری گروه دیجی‌کالا"
        />
      </a>
    </li>
    <li>
      <a href="#" class="align-center">
        <img
          src="/media/images/sites/pindo.svg"
          alt="ثبت آگهی خرید و فروش آنلاین بدون پادرمیانی!"
        />
      </a>
    </li>
    <li>
      <a href="#" class="align-center">
        <img
          src="/media/images/sites/komodaa.svg"
          alt="کمدا اپلیکیشنی برای خرید و فروش"
        />
      </a>
    </li>
    <li>
      <a href="#" class="align-center">
        <img
          src="/media/images/sites/digiexpress.svg"
          alt="سیستم حمل و نقل دیجی‌کالا"
        />
      </a>
    </li>
    <li>
      <a href="#" class="align-center"
        ><img src="/media/images/sites/ganjeh.svg" alt="گنجه"
      /></a>
    </li>
    <li>
      <a href="#" class="align-center"
        ><img src="/media/images/sites/digify.svg" alt="دیجی‌فای"
      /></a>
    </li>
    <li>
      <a href="#" class="align-center">
        <img src="/media/images/sites/smartech.svg" alt="اسمارتک" />
      </a>
    </li>
    <li>
      <a href="#" class="align-center">
        <img
          src="/media/images/sites/digikala-business.svg"
          alt="دیجی‌کالا بیزینس"
        />
      </a>
    </li>
  </ul>
</div>
