<section class="features" aria-label="features">
  <ul>
     <include src='utils/item-generator.html'>
      {
        "use": "utils/image-link.html",
        "items": [
          {
            "text": "دیجیتال جت",
            "src": "/media/images/features/digijet.webp",
            "fallback": "/media/images/features/digijet.png"
          },
          {
            "text": "حراج استایل",
            "src": "/media/images/features/digistyle.webp",
            "fallback": "/media/images/features/digistyle.png"
          },
          {
            "text": "خرید اقساطی",
            "src": "/media/images/features/digipay.webp",
            "fallback": "/media/images/features/digipay.png"
          },
          {
            "text": "دیجیکالا مهر",
            "src": "/media/images/features/digimehr.webp",
            "fallback": "/media/images/features/digimehr.png"
          },
          {
            "text": "چرخ و بخت",
            "src": "/media/images/features/wheel-of-luck.webp",
            "fallback": "/media/images/features/wheel-of-luck.png"
          },
          {
            "text": "دیجی پلاس",
            "src": "/media/images/features/digiplus.webp",
            "fallback": "/media/images/features/digiplus.png"
          },
          {
            "text": "ماموریت ها",
            "src": "/media/images/features/goals.webp",
            "fallback": "/media/images/features/goals.png"
          }
        ]
      }
    </include>
    <li>
      <a href="#">
        <span class="more-icon">
          <include src='icons/more-horiz.html'></include>
        </span>
        بیشتر
      </a>
    </li>
  </ul>
</section>
