<section class="top-brands" aria-label="top brands">
  <h2>
    <include src='icons/top-brands.html'></include>
    محبوب‌ترین برندها
  </h2>
  <div class="swiper-container">
    <include src="utils/slide-next-control.html">{"class": "translateY-middle"}</include>
    <div class="swiper">
      <div class="swiper-wrapper">
        <include src='utils/slide-generatorr.html'>
          {
            "use": "utils/image-link-simple.html",
            "items": [
              { 
                "src": "/media/images/top-brands/prel.png",
                "alt": "پریل"
              },
              { 
                "src": "/media/images/top-brands/persil.png",
                "alt": "پرسیل"
              },
              { 
                "src": "/media/images/top-brands/kingstar.png",
                "alt": "کینگ استار"
              },
              { 
                "src": "/media/images/top-brands/silicon-power.png",
                "alt": "سیلیکون پاور"
              },
              { 
                "src": "/media/images/top-brands/huawei.png",
                "alt": "هوآوی"
              },
              { 
                "src": "/media/images/top-brands/pakbhoma.png",
                "alt": "پاکشوما"
              },
              { 
                "src": "/media/images/top-brands/cheshme-nor.jpg",
                "alt": "چشمه نور"
              },
              { 
                "src": "/media/images/top-brands/xiamoe.png",
                "alt": "شیائومی"
              },
              { 
                "src": "/media/images/top-brands/samsung.jpg",
                "alt": "سامسونگ"
              },
              { 
                "src": "/media/images/top-brands/kale.png",
                "alt": "کاله"
              },
              { 
                "src": "/media/images/top-brands/bioaoua.png",
                "alt": "بایو آکوا"
              },
              { 
                "src": "/media/images/top-brands/mr.png",
                "alt": "مای"
              },
              { 
                "src": "/media/images/top-brands/active.jpg",
                "alt": "اکتیو"
              },
              { 
                "src": "/media/images/top-brands/shahr-qlass.jpg",
                "alt": "شهر گلس"
              },
              { 
                "src": "/media/images/top-brands/fresh.png",
                "alt": "فرش"
              },
              { 
                "src": "/media/images/top-brands/mr-rad.jpg",
                "alt": "مستر راد"
              },
              { 
                "src": "/media/images/top-brands/tsco.png",
                "alt": "تسکو"
              },
              { 
                "src": "/media/images/top-brands/la-farrerr.png",
                "alt": "لافارر"
              },
              { 
                "src": "/media/images/top-brands/shon.jpg",
                "alt": "شون"
              }
            ]
          }
        </include>
      </div>
    </div>
    <include src="utils/slide-prev-control.html">{"class": "translateY-middle"}</include>
  </div>
</section>