<main>
  <include src="main/hero/index.html"></include>
  <include src="main/features/index.html"></include>
  <include src="main/featured-deals/index.html"></include>
  <include src="main/ads/index.html"></include>
  <include src="main/categories/index.html"></include>
  <include src="main/ads2/index.html"></include>
  <include src="main/suggestions/index.html"></include>
  <include src="main/top-brands/index.html"></include>
  <include src="main/ads3/index.html"></include>
  <include src="main/product-promotion/index.html"></include>
</main>
