<div class="social-links">
  <h3>همراه ما باشید!</h3>
  <ul>
    <li>
      <a href="#">
        <svg>
          <title>instagram</title>
          <use href="#instagram" />
        </svg>
      </a>
    </li>
    <li>
      <a href="#">
        <svg>
          <title>twitter</title>
          <use href="#twitter" />
        </svg>
      </a>
    </li>
    <li>
      <a href="#">
        <svg>
          <title>linkedin</title>
          <use href="#linkedin" />
        </svg>
      </a>
    </li>
    <li>
      <a href="#">
        <svg>
          <title>aparat</title>
          <use href="#aparat" />
        </svg>
      </a>
    </li>
  </ul>
</div>
