<div class="trending-searches-swiper swiper-container">
  <include src='utils/slide-prev-control.html'>
    {"class": "translateY-middle"}
  </include>
  <div class="swiper">
    <div class="swiper-wrapper">
      <include src='utils/slide-generatorr.html'>
        {
          "use": "utils/arrowed-link.html",
          "items": [
            {"text": "صابون مدرسه"},
            {"text": "گچ مو"},
            {"text": "گج"},
            {"text": "پینت بال"},
            {"text": "شب یلدا"},
            {"text": "کاور لوکسار"},
            {"text": "لباس یلدا"}
          ]
        }
      </include>
    </div>
  </div>
  <include src='utils/slide-next-control.html'>
    {"class": "translateY-middle"}
  </include>
</div>
