<section class="hero" aria-label="hero">
  <div class="hero-swiper swiper-container">
    <div class="swiper-navigation d-flex">
      <include src='utils/slide-prev-control.html'></include>
      <include src='utils/slide-next-control.html'></include>
    </div>
    <div class="swiper">
      <div class="swiper-wrapper">
        <include src='utils/slide-generatorr.html'>
          {
            "use": "utils/image-link.html",
            "items": [
              {
                "src": "/media/images/hero-swiper/jaket.webp",
                "fallback": "/media/images/hero-swiper/jaket.jpg",
                "alt": "فروش ویژه انوان بافت و پلیور مردانه و زنامه - تخفیف تا هفتاد درصد"
              },
              {
                "src": "/media/images/hero-swiper/hoodie.webp",
                "fallback": "/media/images/hero-swiper/hoodie.jpg",
                "alt": "خراج آخر فصل برند السانا - تخفیف تا پنجاه درصد"
              },
              {
                "src": "/media/images/hero-swiper/warm-cloth.webp",
                "fallback": "/media/images/hero-swiper/warm-cloth.gif",
                "alt": "روز اپل"
              },
              {
                "src": "/media/images/hero-swiper/apple.webp",
                "fallback": "/media/images/hero-swiper/apple.jpg",
                "alt": "روز اپل"
              },
              {
                "src": "/media/images/hero-swiper/elsana.webp",
                "fallback": "/media/images/hero-swiper/elsana.jpg",
                "alt": "خراج آخر فصل برند السانا - تخفیف تا پنجاه درصد"
              },
              {
                "src": "/media/images/hero-swiper/party.webp",
                "fallback": "/media/images/hero-swiper/party.jpg",
                "alt": "خراج آخر فصل برند السانا - تخفیف تا پنجاه درصد"
              },
              {
                "src": "/media/images/hero-swiper/smart-watch.webp",
                "fallback": "/media/images/hero-swiper/smart-watch.jpg",
                "alt": "خراج آخر فصل برند السانا - تخفیف تا پنجاه درصد"
              },
              {
                "src": "/media/images/hero-swiper/valera.webp",
                "fallback": "/media/images/hero-swiper/valera.jpg",
                "alt": "خراج آخر فصل برند السانا - تخفیف تا پنجاه درصد"
              },
              {
                "src": "/media/images/hero-swiper/galaxy-s22.webp",
                "fallback": "/media/images/hero-swiper/galaxy-s22.jpg",
                "alt": "خراج آخر فصل برند السانا - تخفیف تا پنجاه درصد"
              }
            ]
          }
        </include>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
