@use "/src/mixin.scss" as *;

.native-products {
  @include on-pc {
    width: 800px;

    > li:nth-child(6) {
      position: relative;

      li:nth-child(n + 3) {
        @include goToNextColumn;
      }

      li:nth-child(3) {
        top: -370px;
      }
      li:nth-child(4) {
        top: -340px;
      }
      li:nth-child(5) {
        top: -310px;
      }
      li:nth-child(6) {
        top: -280px;
      }
    }

    > li:nth-child(7) {
      margin-top: 122px;
    }
  }
}
