<section class="ads2">
  <ul>
    <li>
      <!-- <include src='utils/image-link.html'>
        {
          "src": "/media/images/ads/yeilsun.webp",
          "fallback": "/media/images/ads/yeilsun.jpg",
          "alt": "محصولات چرم یلسان - تخفیف تا ۴۰ درصد"
        }
      </include> -->
      <img src="/media/images/ads/active.jpg" alt="" />
    </li>
    <li>
      <img src="/media/images/ads/active-shampoo.jpg" alt="" />
      <!-- <include src='utils/image-link.html'>
        {
          "src": "/media/images/ads/venmart.webp",
          "fallback": "/media/images/ads/venmart.jpg",
          "alt": "تخفیف باور نکردنی محصولات خانه و اشپزخانه وون مارت"
        }
      </include> -->
    </li>
  </ul>
</section>
