<div class="footer-features">
  <ul>
    <li>
      <a href="#">
        <img src="/media/images/footer-features/express-delivery.svg" alt="" />
        امکان تحویل اکسپرس
      </a>
    </li>
    <li>
      <a href="#">
        <img src="/media/images/footer-features/cash-on-delivery.svg" alt="" />
        امکان تحویل در محل
      </a>
    </li>
    <li>
      <a href="#">
        <img src="/media/images/footer-features/support.svg" alt="" />
        ۷ روز ﻫﻔﺘﻪ، ۲۴ ﺳﺎﻋﺘﻪ
      </a>
    </li>
    <li>
      <a href="#">
        <img src="/media/images/footer-features/days-return.svg" alt="" />
        هفت روز ضمانت بازگشت کالا
      </a>
    </li>
    <li>
      <a href="#">
        <img src="/media/images/footer-features/original-products.svg" alt="" />
        ﺿﻤﺎﻧﺖ اﺻﻞ ﺑﻮدن ﮐﺎﻟﺎ
      </a>
    </li>
  </ul>
</div>
