@mixin expand-whole {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin mobile-only {
  @media (min-width: 1024px) {
    display: none !important;
  }
}

@mixin items-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin hide-when-disabled {
  &[aria-disabled="true"] {
    display: none !important;
  }
}

@mixin on-pc {
  & {
    @media (min-width: 1024px) {
      @content;
    }
  }
}

@mixin on-mobile {
  & {
    @media (max-width: 1024px) {
      @content;
    }
  }
}

@mixin font($size, $weight, $color: "") {
  font-size: $size;
  font-weight: $weight;
  @if $color != "" {
    color: var($color);
  }
}

@mixin p-m($p, $m) {
  padding: $p;
  margin: $m;
}

@mixin flex($dir) {
  display: flex;
  flex-direction: $dir;
}

@mixin space-between {
  display: flex;
  justify-content: space-between;
}

@mixin hide($s) {
  #{$s} {
    display: none !important;
  }
}

@mixin low-emphasis-icons {
  svg {
    fill: var(--color-icon-low-emphasis);
  }
}

@mixin icons-size($w, $h) {
  svg {
    width: $w;
    height: $h;
  }
}

@mixin goToNextColumn {
  position: absolute;
  width: 100%;
  left: -100%;
}

@mixin pushNextItemToNextColumn {
  margin-bottom: 6em;
}
