<nav class="main-nav hidden" aria-label="Digikala Navigation">
  <ul class="navbar d-flex" role="menubar">
    <li role="none" class="product-categoris-container">
      <h4 class="mobile-only">دسته‌بندی کالاها</h4>
      <a
        href="#"
        role="menuitem"
        class="product-categoris-cta align-center pc-only"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <include src="icons/menu.html"></include>
        دسته‌بندی کالاها
      </a>
      <include src="header/product-categoris/index.html"></include>
    </li>
    <li role="none" class="v-line pc-only"></li>
    <include src="utils/menuitem.html">
      {"text": "سوپرمارکت", "icon": "full-shopping-bag"}
    </include>
    <include src="utils/menuitem.html">
      {"text": "پرفروش‌ترین‌ها", "icon": "fire"}
    </include>
    <include src="utils/menuitem.html">
      {"text": "تخفیف‌ها و پیشنهادها", "icon": "discount-tag"}
    </include>
    <include src="utils/menuitem.html">
      {"text": "شگفت‌انگیزها", "icon": "discount"}
    </include>
    <li role="none" class="v-line pc-only"></li>
    <include src="utils/menuitem.html">
      {"text": "سوالی دارید؟", "icon": "ask-question"}
    </include>
    <include src="utils/menuitem.html">
      {"text": "فروشنده شوید!", "icon": "seller"}
    </include>
    <li role="none" class="mobile-only">
      <a href="#" role="menuitem" class="logo align-center">
        <img src="/media/images/fa-logo.svg" alt="فروشگاه اینترنتی دیجی کالا" />
      </a>
    </li>
  </ul>
  <span class="animated-line"></span>
</nav>
